@media (max-width: 767px) {
  .bg-cover {
    background: url("/HeroS.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bg-cover {
    background: url("/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .bg-cover {
    background: url("/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
}
@media (min-width: 600px) {
  .bg-cover {
    background: url("/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
}
